.row
  .col
    mat-card
      mat-card-content
        p I'm a 19 y/o developer based out of America. I have been building websites for the past 3 1/2 years for various hobbies and services. I currently work professionally as a web developer and this is the home of my personal projects. I will be linking info to some of my Minecraft mods as well as some of my other web development projects in the future.
