.container-fluid.footer-container.mt-0
  .row.pt-4.pb-4
    .col
      p Copyright &copy; Noah Kovacs - {{getYear()}}
    .col
      p I take no credit for the images on this site, they were all found on google. They're all freely available and most of them are wallpapers.
