nav.navbar.navbar-expand-lg.navbar-light(role="header", [ngClass]="{hidden: hideToolbar, invert: invert}" )
  a.navbar-brand(routerLink="/" routerLinkActive="active" ) Polar Bear Digital
  a.navbar-toggler(type="button")
    i.fal.fa-bars
  .collapse.navbar-collapse
    .navbar-nav
      a.nav-item.nav-link(routerLink="/about" routerLinkActive="active" ) About
