.content-divs([ngSwitch]="activeDiv", *ngIf="homeSplashActive")
  .content-div(*ngSwitchCase="'div1'", [@visibleHidden]="'visible'")
    h2 Oh! Hello there!
  .content-div(*ngSwitchCase="'div2'", [@visibleHidden]="'visible'")
    h2 You've found my site
  .content-div(*ngSwitchCase="'div3'", [@visibleHidden]="'visible'")
    h2 It's not much, but I hope you find what you're looking for
  .content-div(*ngSwitchCase="'div4'", [@visibleHidden]="'visible'")
    h2 My name is Noah Kovacs, and without further ado...
.main-content()
  .main-jumbo(*ngIf="!homeSplashActive")
    .row.background-row
      .col.content-col
        .row([@mainJumbo]="'visible'")
          .col
            h1() Polar Bear Digital
        .row.justify-content-center
          .col.col-sm-6
            mat-card
              mat-card-title
                h2 Hello
              mat-card-content
              p This site is a little bit under construction right now but thanks for visiting.
              p I work on a bunch of different projects ranging from electron based desktop applications to ruby web applications.
              | I have also been known to work on some Minecraft modding projects in the past. Java Huzzah!
              hr
              h2 About Me
              p I'm a developer based out of America. I have been building websites for the past 5 years for various hobbies and services. I currently work professionally as a web developer and this is the home of my personal projects. I will be linking info to some of my Minecraft mods as well as some of my other web development projects in the future.
